{% extends 'base.html.twig' %}

{% block title %}
    Détails du club
{% endblock %}

{% block body %}
    <div class="p-4 space-y-8 place-content-center bg-gray-900 min-h-screen">

    </div>
{% endblock %}
