{% extends 'base.html.twig' %}

{% block title %}Nouveau tarif{% endblock %}

{% block body %}
    <div class="p-4 space-y-8 place-content-center bg-gray-900 min-h-screen">
        <h1 class="text-2xl font-bold text-white">Crée un nouveau tarif</h1>
        <span class="text-sm text-gray-300">Vous êtes sur le point de crée un tarif</span>

        {{ include('admin/swimming_pack/_form.html.twig', {'button_label': 'Créer un tarif'}) }}

    </div>
{% endblock %}
