{% extends 'base.html.twig' %}

{% block title %}
    Modifier un club
{% endblock %}

{% block body %}
    <div class="p-4 space-y-8 place-content-center bg-gray-900 min-h-screen">
        <h1 class="text-2xl font-bold text-white">Modifier un club</h1>
        <span class="text-sm text-gray-300">Vous êtes sur le point de modifier un club</span>

        {{ include('admin/clubs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
