@tailwind base;
@tailwind components;
@tailwind utilities;

#card_expirationDate_month {
  background-color: transparent;
  padding: 0;
  border: none;
}

#card_expirationDate_year {
  background-color: transparent;
  padding: 0;
  border: none;
}