{% extends 'base.html.twig' %}

{% block title %}
    Activités
{% endblock %}

{% block body %}
    <div class="p-4 space-y-8 place-content-center bg-gray-900 min-h-screen">

        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Activités proposées</h2>
                <p class="mb-5 font-light sm:text-xl text-gray-400">Vous trouverez ci-dessous la liste non-exhaustive des activités proposées par le club.</p>
            </div>

            <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border shadow border-gray-600 xl:p-8 bg-gray-800 text-white">
                <ul role="list" class="space-y-4 text-left">
                    <li>Activités d’éveil et de motricité</li>
                    <li>Jeux collectifs et sportifs</li>
                    <li>Baignades</li>
                    <li>Olympiades</li>
                    <li>Fort Boyard</li>
                    <li>Casino</li>
                    <li>Jeu d’oie géant</li>
                    <li>Force Charentaise</li>
                    <li>Chasses au trésor</li>
                    <li>Kohlanta</li>
                    <li>Initiations aux sports collectifs</li>
                    <li>Parcours du combattant</li>
                    <li>Jeux de sable</li>
                    <li>Jeux d’eau</li>
                    <li>Jeux traditionnels (tous les jeux collectifs)</li>
                    <li>Jeux d’éveil pour les plus petits</li>
                    <li>Châteaux gonflables</li>
                    <li>Trampolines</li>
                    <li>Et plein d’autres animations prévues par nos animateurs (notamment lors des semaines à thème)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
