{% extends 'base.html.twig' %}

{% block title %}
    Contact et localisation
{% endblock %}

{% block body %}

    <div class="p-4 space-y-8 place-content-center bg-gray-900 min-h-screen">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact et localisation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Adresse</h2>
                <p>Adresse de l'entreprise</p>
                <p>Code postal Ville</p>
                <p>Téléphone : 06 74 68 90 30</p>
                <p>Email :
                    <a href="mailto:mikbussiere@gmail.com">mikbussiere@gmail.com</a>
                </p>
            </div>
            <div class="col-md-6">
                <h2>Localisation</h2>
                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}
